.post_container {
  text-align: center;
}

.post_container p {
  text-align: justify;
}

.post_container h3 {
  margin-bottom: 0.2em;
}

.post_container img {
 max-width: 600px;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}


/* =============MEDIA QUERIES (MEDIUM DEVICES) =============*/
@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 600px) {
  .post_container img {
    max-width: 280px;
   }

   .post_container {
    width: 280px;
   }
 
    
  }


